@import url('https://fonts.googleapis.com/css?family=Khula:300,400,700,800');


# {
  box-sizing: border-box;
}

#main {
  /*text-align: center;*/
}

html {
  background:
    linear-gradient(
      to right,
      #1E2831, #3B4F5B
    );
}

body {
  padding: 10px;
  margin: 0;
  background:
    linear-gradient(
      to right,
      #1E2831, #3B4F5B
    );
  font-family: 'Khula', sans-serif;
  color: #fff;
}

.movie-list-component {
  text-align: center;
}
.favorite-list-component {
  width: 100%;
  text-align: center;
}

.movie-list {
  display: grid;
  grid-row-gap: 40px;
  grid-template-columns: repeat(1, 1fr);
  animation: fadein linear 350ms;
}
.favorite-list {
  text-align: center;
  display: grid;
  grid-row-gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  animation: fadein linear 350ms;
}

.favorite-list .must-login-msg {
  text-align: center;
}

.movie-card {
  text-align: center;
  position: relative;
}

.movie-card .sub-header {
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.movie-card .rating {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CD791F;
  border-radius: 100px;
  width: 45px;
  height: 25px;
  font-size: 14px;
  box-shadow: 2px 2px 4px rgba(0,0,0,.25);
  padding-top: 3px;
}

.movie-card .movie-poster {
  width: 80%;
  box-shadow: 0px 20px 100px rgba(0,0,0,.4);
  transition: 200ms;
}
.movie-card .movie-poster:hover {
  cursor: pointer;
  box-shadow: 0px 20px 100px rgba(0,0,0,.8);
  transform: scale(1.02);
}

.movie-card .title {
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 17px;
  text-align: left;
  text-shadow: 2px 2px 4px rgba(0,0,0,.7);
}

.movie-card .genre-list {
  color: #9DA7AE;
  padding: 0 15%;
  margin: 0;
}

.movie-card .genre {
  text-align: left;
  font-size: 12px;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
}

.movie-card .genre-heading {
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
  text-align: left;
  margin: 0 10%;
  font-size: 15px;
  font-weight: 400;
}

.movie-card .favorite-btn {
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 100px;
  background-color: #5281a4;
  transition: 200ms;
  position: absolute;
  right: 6%;
  top: -2%;
  box-shadow: 2px 2px 4px rgba(0,0,0,.25);
}
.movie-card .favorite-btn:hover {
  cursor: pointer;
  background-color: #fce723;
}
.movie-card .favorite-btn.active {
  background-color: #fce723;
}
.movie-card .favorite-btn.active:hover {
  background-color: #5281a4;
}


.header {
  margin-bottom: 50px;
}

.header .logo {
  margin: 0;
  font-size: 40px;
}

.header .header-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.header nav {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 0 auto;
}

.header .nav-link {

}
.header .nav-link {
  color: #fff;
  font-size: 18px;
  width: 130px;
  height: 40px;
  border: none;
  background-color: #3d6481;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 150ms;
}
.header .nav-link:hover {
  background-color: #5281a4;
}

.header .login-signup-btns button {
  color: #fff;
  font-size: 14px;
  width: 80px;
  height: 40px;
  border: none;
  background-color: #3d6481;
  margin-left: 10px;
  border-radius: 8px;
  outline: none;
  transition: 150ms;
}
.header .login-signup-btns button:hover {
  cursor: pointer;
  background-color: #5281a4;
}

.header .logout-container button {
  color: #fff;
  font-size: 14px;
  width: 80px;
  height: 40px;
  border: none;
  background-color: #3d6481;
  margin-left: 10px;
  border-radius: 8px;
  transition: 150ms;
}
.header .logout-container button:hover {
  cursor: pointer;
  background-color: #5281a4;
}

.header .logout-container button.logout-btn:hover {
  background-color: #fa7f64;
}

.login-component {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  animation: growBox-login .5s;
}

.login-component .login-form h1 {
  color: #25323C;
  margin: 0;
}

.login-component .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}

.login-component .input-email,
.login-component .input-password {
  margin-bottom: 20px;
  width: 250px;
  height: 30px;
  padding: 4px;
  font-size: 14px;
}

.login-component .input-submit {
  width: 250px;
  height: 30px;
  font-size: 14px;
  border: 2px solid transparent;
  transition: 200ms;
}
.login-component .input-submit:hover {
  cursor: pointer;
  border: 2px solid #25323C;
}

.login-component .invalid-true {
  display: block;
}
.login-component .invalid-false {
  display: none;
}

.register-component {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  animation: growBox-register .5s;
}

.register-component .register-form h1 {
  color: #25323C;
  margin: 0;
}

.register-component .register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}

.register-component .input-email,
.register-component .input-name,
.register-component .input-password {
  margin-bottom: 20px;
  width: 250px;
  height: 30px;
  padding: 4px;
  font-size: 14px;
}

.register-component .input-submit {
  width: 250px;
  height: 30px;
  font-size: 14px;
  border: 2px solid transparent;
  transition: 200ms;
}
.register-component .input-submit:hover {
  cursor: pointer;
  border: 2px solid #25323C;
}

.register-component .invalid-true {
  display: block;
}
.register-component .invalid-false {
  display: none;
}

.register-component .invalid-true {
  display: block;
}

.register-component .invalid-false {
  display: none;
}

/*=======================================
>>>>>>   M E D I A  Q U E R I E S  <<<<<<
========================================*/


@media (min-width: 575px) {
  .header .header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .movie-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .favorite-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .login-component .input-email,
  .login-component .input-password {
    width: 300px;
  }

  .login-component .input-submit {
    width: 300px;
  }
  .register-component .input-email,
  .register-component .input-name,
  .register-component .input-password {
    width: 300px;
  }

  .register-component .input-submit {
    width: 300px;
  }
}

@media (min-width: 750px) {
  .movie-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .favorite-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1100px) {
  .movie-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .favorite-list {
    grid-template-columns: repeat(4, 1fr);
  }
}


/*=======================================
>>>>>>>>    K E Y F R A M E S    <<<<<<<<
========================================*/

@keyframes growBox-login {
  from {
    height: 0px;
    transform: scaley(0);
    opacity: 0;
  }
  to {
    height: 245px;
    transform: scaley(1);
    opacity: 1;
  }
}

@keyframes growBox-register {
  from {
    height: 0px;
    transform: scaley(0);
    opacity: 0;
  }
  to {
    height: 429px;
    transform: scaley(1);
    opacity: 1;
  }
}

@keyframes fadein {
  0% { opacity: 0}
  100% { opacity: 1}
}
