@import url('https://fonts.googleapis.com/css?family=Khula:300,400,700,800');

# {
  box-sizing: border-box;
}

#main h1 {
  background-color: blue;
}

#main {
  text-align: center;
}

body {
  background:
    linear-gradient(
      to right,
      #1E2831, #3B4F5B
    );
  font-family: 'Khula', sans-serif;
  color: #fff;
}

.movie-list {
  display: grid;
  grid-row-gap: 40px;
  grid-template-columns: repeat(2, 1fr);
}

.movie-card {

}

.movie-card .sub-header {
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.movie-card .rating {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CD791F;
  border-radius: 100px;
  width: 45px;
  height: 25px;
  font-size: 14px;
  box-shadow: 2px 2px 4px rgba(0,0,0,.25);
  padding-top: 3px;
}

.movie-card .movie-poster {
  width: 80%;
  box-shadow: 0px 20px 100px rgba(0,0,0,.4);
  transition: 200ms;
}
.movie-card .movie-poster:hover {
  cursor: pointer;
  box-shadow: 0px 20px 100px rgba(0,0,0,.8);
  transform: scale(1.02);
}

.movie-card .title {
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 17px;
  text-align: left;
  text-shadow: 2px 2px 4px rgba(0,0,0,.7);
}

.movie-card .genre-list {
  color: #9DA7AE;
  padding: 0 15%;
  margin: 0;
}

.movie-card .genre {
  text-align: left;
  font-size: 12px;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
}

.movie-card .genre-heading {
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
  text-align: left;
  margin: 0 10%;
  font-size: 15px;
  font-weight: 400;
}


@media (min-width: 750px) {
  .movie-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1100px) {
  .movie-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
